$rate-margin: 48px;
$comment-margin: 16px;

@media all and (min-width:920px) {
    .wrap{
        padding: 128px 0 100px;
        background: no-repeat url(../images/bg-pattern-top-desktop.svg), right bottom no-repeat url(../images/bg-pattern-bottom-desktop.svg);

        &-review{
            grid-template-columns: 1fr 1fr;
            margin-bottom: 70px;
            
            .col-title{
                margin-bottom: 0;
                text-align: left;
                max-width: 450px;
    
                h1{
                    font-size: 2.5625rem;
                }
            }
    
            .col-review{
                margin-bottom: 0;
                @for $i from 0 through 2 {
                    .review:nth-child(#{3-$i}) {
                        $margin:$rate-margin *$i;
                        margin-right: $margin;
                    }
                }
    
                .review{
                    display: flex;
                    max-width: 445px;
                    margin-left: auto;
                    align-items: center;
    
                    .review-stars{
                        margin: 3px 20px 0px;
                    }
                }
            }
        }

        &-comment{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 30px;

            @for $i from 0 through 2 {
                .comment:nth-child(#{3-$i}) {
                    $margin:$comment-margin *$i;
                    $margint:$comment-margin *(3-$i);
                    margin-bottom: $margin;
                    margin-top: $margint;
                }
            } 
            
        }

    }
}



