$primary-color1: hsl(300, 43%, 22%);
$primary-color2: hsl(333, 80%, 67%);
$neutral-color1: hsl(303, 10%, 53%);
$neutral-color2: hsl(300, 24%, 96%);
$neutral-color3: hsl(0, 0%, 100%);
$primary-font: 'Spartan', sans-serif;

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font:400 15px/1.5 $primary-font;
    color:$primary-color1;
}

p{
    font-size: 0.9375rem;
}

.container{
    max-width: 1110px;
    margin: auto;
}

.wrap{
    padding: 75px 19px 83px;
    min-height: 100vh;
    background: no-repeat url(../images/bg-pattern-top-mobile.svg), right bottom no-repeat url(../images/bg-pattern-bottom-mobile.svg);

    &-review{
        display: grid;

        .col-title{
            margin-bottom: 43px;
            text-align: center;
            h1{
                margin-bottom: 20px;
                font-size: 2.0625rem;
                line-height: 1.1;
            }
            p{
                color: $neutral-color1;
            }
        }
    
        .col-review{
            margin-bottom: 35px;

            .review{
                background-color: $neutral-color2;
                border-radius: 8px;
                margin-bottom: 16px;
                padding: 15px 10px 15px;
                text-align: center;

                &-stars{
                    margin: 0 auto 3px;
                }

                &-text{
                    font-weight: 700;
                }
            }
        }
    }

    &-comment{

        .comment{
            background-color: $primary-color1;
            border-radius: 8px;
            padding: 40px 25px 40px 23px;
            margin-bottom: 16px;

            &-profile{
                display: flex;
                justify-content: start;
                align-items: center;
                margin-bottom: 28px;

                img{
                    border-radius: 50%;
                    max-width: 40px;
                }

                .profile{
                    margin-left: 22px;
                    .name{
                        color: $neutral-color3;
                        font-weight: 500;
                    }
                    .badge{
                        color: $primary-color2;
                    }
                }
            }

            &-content{
                color:$neutral-color2;
                font-size: 0.875rem;
            }
        }
    }
    
}

@import 'responsive';

